.container_home{
  background-image: url('../../assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
}

@media only screen and (max-width: 767px) {
  .container_wildcard{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}